/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000;
    color: #fff;
}

header .logo {
    font-size: 24px;
}

header nav a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}

main {
    position: relative;
    height: 100vh;
}

main video {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

main .overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
main .dierge {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}


main .ma {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
 main .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }


